{% extends 'template_base.html' %}

{% block content %}
<div class = "conteiner">
    <div class= "row">
        <div class="col-6">
            <h4> Crear una nueva marca</h4>
            <form action="" method="post">
                {{ formulario.hidden_tag() }}

                {{ formulario.nombre.label }}
                {{ formulario.nombre }}
                {{ formulario.submit }}
            </form>
        </div>
        <div class="col-6">
            <h4>Listado de Marcas</h4>
            {% for marca in marcas %}
                <li>
                    <a href="/marca/{{marca.id}}/vehiculos"> {{marca.nombre}} </a>
                </li>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock  %}